.skills {
    max-width: 1440px;
    margin: 0 auto;
    text-wrap: balance;

    &__header {
        margin: 20px;
        text-align: center;
    }

    &__list {
        margin-left: 40px;

        @media (max-width: 600px) {
            margin: 0;
        }
    }
}