*>* {
    box-sizing: border-box;
}

a {
    all: unset;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.day {
    background-color: #f8f3ec;
    transition: background-color 1000ms ease;
    color: #66625c;
}

.night {
    background-color: #1c2a62;
    transition: background-color 1000ms ease;
    color: rgba(255, 255, 255, 0.7);
}

*:focus {
    border: 3px solid black;
}