*>* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

li {
    list-style-type: none;
}

#root {
    display: flex;
    flex-direction: column;
}

.day {
    background-color: #f8f3ec;
    transition: background-color 1000ms ease;
    color: #66625c;
}

.night {
    background-color: #1c2a62;
    transition: background-color 1000ms ease;
    color: rgba(255, 255, 255, 0.7);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}