.projects {
    max-width: 1440px;
    margin: 0 auto;

    &__header {
        margin: 20px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-grow: 0;

        li:nth-child(odd) {
            display: flex;
            justify-content: start;
        }

        li:nth-child(even) {
            transform: translateX(50px);
        }
    }
}