.footer {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    padding: 20px;

    @media (max-width: 500px) {
        flex-direction: column;
    }

    & p {
        margin: 0;
    }

    &.light {
        color: white;
    }
}