h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

.hero {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


    &__element {
        max-width: 1024px;
        text-wrap: balance;
        text-align: center;
        margin: 0;

        &--night {
            color: #f5dd42;
        }

        &--day {
            color: #1c2a62;
        }
    }
}