h1 {
    font-size: 80px;
    text-wrap: pretty;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 40px;
    text-wrap: pretty;
    text-align: center;
}

.hero {
    max-width: 1440px;
    margin: auto;

    &__element {
        max-width: 1024px;

        &--night {
            color: #f5dd42;
        }

        &--day {
            color: #1c2a62;
        }
    }
}