header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    position: sticky;
    top: 0;
    z-index: 1337;
}

.time {
    position: relative;
    width: 130px;
    height: 80px;
    border-radius: 0 0 0 100%;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    &__element {
        position: absolute;
        top: 15px;
        right: 25px;
        transition: all 0.3s ease;

        &.front {
            opacity: 1;
        }

        &.back {
            opacity: 0.4;
            transform: translate(15px, 15px);
        }
    }
}

.lang {
    position: relative;
    width: 130px;
    height: 80px;
    overflow: hidden;
    border-radius: 0 0 100% 0;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    &__element {
        position: absolute;
        top: 15px;
        left: 50px;
        transition: all 0.3s ease;

        &.front {
            opacity: 1;
        }

        &.back {
            opacity: 0.4;
            transform: translate(-15px, 15px);
        }
    }
}