.header {
    display: flex;
    justify-content: space-between;

    &__element {
        position: fixed;
        top: 0;
        width: 130px;
        height: 70px;
        cursor: pointer;
        z-index: 1337;
    }
}

.time {
    border-radius: 0 0 0 50%;
    right: 0;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.2);

    &__element {
        position: absolute;
        top: 15px;
        right: 25px;
        transition: all 0.3s ease;

        &.front {
            opacity: 1;
            font-size: 1.1rem;
        }

        &.back {
            opacity: 0.4;
            transform: translate(15px, 15px);
            font-size: 0.9rem;
        }
    }
}

.lang {
    border-radius: 0 0 50% 0;
    left: 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

    &__element {
        position: absolute;
        top: 15px;
        left: 50px;
        transition: all 0.3s ease;

        &.front {
            opacity: 1;
            font-size: 1.1rem;
        }

        &.back {
            opacity: 0.4;
            transform: translate(-15px, 15px);
            font-size: 0.9rem;
        }
    }
}