@import "./assets/colors";

* {
    box-sizing: border-box;
    outline: none;
}

a {
    all: unset;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.day {
    background-color: $primary-bg-clr;
    transition: background-color 1000ms ease;
    color: $primary-clr;

    // :focus {
    //     outline: 5px solid $primary-accent-clr;
    //     border-radius: 20px;
    // }
}

.night {
    background-color: $secondary-bg-clr;
    transition: background-color 1000ms ease;
    color: $secondary-clr;

    // :focus {
    //     outline: 5px solid $secondary-accent-clr;
    //     border-radius: 20px;
    // }
}